button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    background: #ff6600;
    color: #fff;
    border-radius: 6px;

    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    font-weight: 700;
    transition: .1s;
}

/* 無効状態 */
button:disabled {
    background: #969696;
}

/*  =========================
    C. デザインタスク: ボタンホバー機能
    背景, cursorを指定の値に設定してください
    2行でかけます
 ========================= */
button:not(:disabled):hover {}