body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f5f5;
}

header {
    background: #222;
    color: #fff;
    padding: 16px;
    text-align: center;
    font-size: 24px;
}

.container {
    display: flex;
    height: calc(100vh - 64px);
}

/* カテゴリ */
.categories {
    width: 20%;
    height: 100%;
    background: #fff;
    border-right: 1px solid #ddd;
}

.category {
    padding: 16px;
    border-bottom: 1px solid #eee;
    text-align: center;
    cursor: pointer;
}

.category.active {
    background: #ffcc00;
    font-weight: bold;
}

/* メニュー */
.menu {
    width: 55%;
    height: 100%;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    overflow-y: auto;
}

.item {
    max-height: 350px;
    background: #fff;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 8px;
}

.item h3 {
    margin: 0 0 8px;
}

/*
.item button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    background: #ff6600;
    color: #fff;
    border-radius: 6px;
}
    */

/* カート */
.cart {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background: #fff;
    border-left: 1px solid #ddd;
    padding: 16px;
}

.cart h2 {
    margin-top: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.total {
    margin-top: 16px;
    font-size: 20px;
    font-weight: bold;
}

/* .order-button {
    margin-top: 24px;
    width: 100%;
    padding: 16px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    background: #ff6600;
    color: #fff;
} */

.cart-bottom {
    margin-top: auto;
    width: 100%;
    right: 0;
    bottom: 100px;
}

.order-wrapper {
    margin-top: 20px;
}

.order-button-el {
    position: relative;
}

.order-counter {
    position: absolute;
    top: -6px;
    right: -6px;

    width: 22px;
    height: 22px;
    border-radius: 50%;

    background: red;
    color: white;
    font-size: 12px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    /* p のデフォルト余白を消す */
    margin: 0;
}

/* モーダル背景 */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.hidden {
    display: none;
}

/* 本体 */
.modal-content {
    background: #fff;
    width: 90%;
    max-width: 400px;
    padding: 16px;
    border-radius: 8px;
}

/* 注文リスト */
.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.qty-controls {
    display: flex;
    align-items: center;
    gap: 8px;
}